@model IEnumerable<CST350_Minesweeper.Models.SavedGame>

<h4>Saved Games</h4>
<table class="table">
    <thead>
        <tr>
            <th>Save Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.SaveTime</td>
                <td>
                    <form method="post" asp-action="LoadGame" asp-route-id="@game.Id" class="d-inline">
                        <button type="submit" class="btn btn-secondary">Load</button>
                    </form>
                    |
                    <form method="post" asp-action="DeleteSavedGame" asp-route-id="@game.Id" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
